.container {
  padding: 50px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-form-field, .save-button {
  width: 70%;
  margin-top: 20px;
}

button {
  cursor: pointer;
}
