<div class="container animate__animated animate__fadeIn">
  <!-- back button -->
  <div>
    <button
      mat-fab
      color="button-back"
      aria-label="back to userDatas"
      routerLink="/main/userDatas/{{ idFromRoute }}"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>

  <form class="form-container" [formGroup]="myForm" (ngSubmit)="update()">
    <!-- input name -->
    <mat-form-field appearance="outline">
      <mat-label>Nombre/s del usuario</mat-label>
      <input
        [value]="userData.name"
        matInput
        placeholder="Apellidos"
        autocomplete="off"
        formControlName="name"
      />
      <mat-icon matSuffix>person</mat-icon>
      <mat-hint>Ejemplo: Figueroa</mat-hint>
      <mat-error>{{ getErrorMessage("name") }}</mat-error>
    </mat-form-field>

    <!-- input lastname -->
    <mat-form-field appearance="outline">
      <mat-label>Apellido/s del usuario</mat-label>
      <input
        matInput
        placeholder="Nombres"
        autocomplete="off"
        formControlName="lastname"
      />
      <mat-icon matSuffix>person</mat-icon>
      <mat-hint>Ejemplo: Figueroa</mat-hint>
      <mat-error>{{ getErrorMessage("lastname") }}</mat-error>
    </mat-form-field>

    <!-- input email -->
    <mat-form-field appearance="outline">
      <mat-label>Ingrese su email</mat-label>
      <input
        matInput
        placeholder="Email"
        autocomplete="off"
        formControlName="email"
      />
      <mat-icon matSuffix>email</mat-icon>
      <mat-hint>Ejemplo: usuario@gmail.com</mat-hint>
      <mat-error>{{ getErrorMessage("email") }}</mat-error>
    </mat-form-field>

    <!-- input tel -->
    <mat-form-field appearance="outline">
      <mat-label>Ingrese su teléfono</mat-label>
      <input
        type="number"
        matInput
        placeholder="Teléfono"
        autocomplete="off"
        formControlName="tel"
      />
      <mat-icon matSuffix>email</mat-icon>
      <mat-hint>Ejemplo: 1120459223</mat-hint>
      <mat-error>{{ getErrorMessage("tel") }}</mat-error>
    </mat-form-field>

    <!-- select role -->
    <mat-form-field appearance="outline">
      <mat-label>Seleccione el Rol</mat-label>
      <mat-select name="role" formControlName="role">
        <mat-option *ngFor="let value of selectorValues" [value]="value.value">
          {{ value.viewValue }}
        </mat-option>
      </mat-select>
      <mat-error>{{ getErrorMessage("role") }}</mat-error>
    </mat-form-field>

    <!-- input password1 -->
    <mat-form-field appearance="outline">
      <mat-label>Ingrese su password</mat-label>
      <input
        matInput
        [type]="passHide ? 'password' : 'text'"
        placeholder="Password del usuario"
        formControlName="pass"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="passHide = !passHide"
        [attr.aria-label]="'ocultar password'"
        [attr.aria-pressed]="passHide"
      >
        <mat-icon>{{ passHide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error>{{ getErrorMessage("pass") }}</mat-error>
    </mat-form-field>

    <!-- input password2 -->
    <mat-form-field appearance="outline">
      <mat-label>Repita su password</mat-label>
      <input
        matInput
        [type]="passHide ? 'password' : 'text'"
        placeholder="Password del usuario"
        formControlName="pass2"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="passHide = !passHide"
        [attr.aria-label]="'ocultar password'"
        [attr.aria-pressed]="passHide"
      >
        <mat-icon>{{ passHide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error>{{ getErrorMessage("pass2") }}</mat-error>
    </mat-form-field>

    <!-- save button -->
    <button class="save-button" mat-raised-button color="primary">
      Guardar cambios en usuario
    </button>
  </form>
</div>

{{ myForm.value | json }}

{{ userData | json }}
