<mat-sidenav-container>
  <mat-sidenav #sidenav mode="push">
    <mat-toolbar>
      <span>Menú</span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list>
      <a routerLink="/main/sales" mat-list-item (click)="sidenav.toggle()">
        <mat-icon color="warn">paid</mat-icon>
        <span>Ventas</span>
      </a>
      <a routerLink="/main/cash-flow" mat-list-item (click)="sidenav.toggle()">
        <mat-icon color="warn">point_of_sale</mat-icon>
        <span>Flujo de caja</span>
      </a>
      <a routerLink="/main/customers" mat-list-item (click)="sidenav.toggle()">
        <mat-icon color="warn">group</mat-icon>
        <span>Clientes</span>
      </a>
      <a routerLink="/main/providers" mat-list-item (click)="sidenav.toggle()">
        <mat-icon color="warn">factory</mat-icon>
        <span>Proveedores</span>
      </a>
      <a routerLink="/main/statistics" mat-list-item (click)="sidenav.toggle()">
        <mat-icon color="warn">leaderboard</mat-icon>
        <span>Estadísticas</span>
      </a>
      <a routerLink="/main/reports" mat-list-item (click)="sidenav.toggle()">
        <mat-icon color="warn">summarize</mat-icon>
        <span>Reportes</span>
      </a>
      <a routerLink="/main/articles" mat-list-item (click)="sidenav.toggle()">
        <mat-icon color="warn">volunteer_activism</mat-icon>
        <span>Artículos</span>
      </a>
      <a routerLink="/main/operations" mat-list-item (click)="sidenav.toggle()">
        <mat-icon color="warn">home_repair_service</mat-icon>
        <span>Operaciones</span>
      </a>
      <a routerLink="/main/commerces" mat-list-item (click)="sidenav.toggle()">
        <mat-icon color="warn">store</mat-icon>
        <span>Comercios</span>
      </a>
      <a routerLink="/main/printers" mat-list-item (click)="sidenav.toggle()">
        <mat-icon color="warn">print</mat-icon>
        <span>Impresoras</span>
      </a>
      <a routerLink="/main/categories" mat-list-item (click)="sidenav.toggle()">
        <mat-icon color="warn">category</mat-icon>
        <span>Categorías</span>
      </a>
      <a routerLink="/main/users" mat-list-item (click)="sidenav.toggle()">
        <mat-icon color="warn">badge</mat-icon>
        <span>Usuarios</span>
      </a>
      <a routerLink="/main/cards" mat-list-item (click)="sidenav.toggle()">
        <mat-icon color="warn">credit_card</mat-icon>
        <span>Tarjetas</span>
      </a>
      <a routerLink="/main/discounts" mat-list-item (click)="sidenav.toggle()">
        <mat-icon color="warn">discount</mat-icon>
        <span>Descuentos</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

  <router-outlet></router-outlet>
</mat-sidenav-container>
